body {
    margin: 60px 80px;
}

#lista_titu {

    padding-bottom: 10px;
}
#MenuRecursos {
	margin-top: 8%;
    padding: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0.909090876579285px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
}


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 50px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.div [dnd-list] div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: inline;
    padding: 10px 15px;
    margin-bottom: -1px;

    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.trashcan .dndPlaceholder {
    display: block;
    background-color: rgba(212, 63, 58, 0.53);
}
.tablaNombreAsignatura {
    width: 25%;
}
.tab-content {
    margin-top: 5px;
}

.accordion-heading {
    position:relative
}

.btn-save {
    position:absolute;
    right:2px;
    top:2px;
}

.close {
    color:red;
}

